
.home-buttons{
    background-color: rgb(4,28,63);
}
.home-card-mg{
    margin-bottom: 20px;    
}
.home-card-color{
    background-color: rgba(239, 205, 46, .9);
}

.home-text-color{
    color: rgb(0, 0, 0); 
}

.home-title{
    margin-bottom: 40px; 
}