html{
    font-family: Arial, Helvetica, sans-serif;
}

.logo{
    float: inline-start;
    position: relative;
    left: 50px;
}

.page-break {
    page-break-after: always;
}

.title{
    text-align: center;
}

.title_two{
    text-align: center ;
}

.title_three{
    display: inline;
}

.timbre{
    position: absolute;
    left: 430px;
    bottom: 300px;    
}

.apoderado-name{
    position: relative;
    bottom: 35px;
    left: 50px;
}

.line1{
    position: absolute;
    bottom: 260px;
    left: 50px;
}
.line2{
    position: absolute;
    bottom: 260px;
    left: 395px;
}

.apoderado-firma{
    position: absolute;
    left: 100px;
}
.institucion-firma{
    position: absolute;
    left: 390px;
}




