
.home-buttons{
    background-color: rgb(4,28,63);
}
.home-card-mg{
    margin-bottom: 20px;    
}
.home-card-color{
    background-color: rgba(239, 205, 46, .9);
}

.home-text-color{
    color: rgb(0, 0, 0); 
}

.home-title{
    color: rgba(189, 182, 182, 0.9);
    padding-top: 25px;
    margin-bottom: 40px; 
}

.usuarios-title{
    margin-bottom: 40px; 
}

.registros-title{
    margin-bottom: 40px; 
}

.card-home-center{
    margin: auto;
}

.card-home-center-user{
    margin: auto;
    margin-bottom: 25px;
}

.registro-usuarios-title{
    margin-bottom: 30px; 
}

.form-pd{
    margin-bottom: 15px;
}
.form-check-pd{
    margin-bottom: 16px;
}
.form-rut{
    display: inline;
    width: 50%;
}
.check-pd{
    margin-left: 20px;
}

.submit-pd{
    margin-top: 20px;
    margin-bottom: 20px;
}

.table{
    --bs-table-color: aliceblue;
    border: 3px solid rgb(227, 201, 54);
}

.matricula-title{
    padding-top: 35px;
    margin-bottom: 35px;
}

.gestion-title{
    margin-top: 20px;
    padding-bottom: 15px;
}
.gestion-title-alumnos{
    margin-top: 20px;
    padding-bottom: 8px;
}
.registro-alumnos-title{
    margin-top: 15px;
    margin-bottom: 15px;
}
.registro-apoderados-title{
    margin-top: 15px;
    margin-bottom: 15px;
}

.btn-create{
    margin-left: 2px;
    margin-bottom: 12px;
}
.btn-p{
    padding-top: 2px;
    padding-bottom: 2px;
}

